<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h3 id="title">
    AAV Navigation Tool
  </h3>
  <div id='map'>
    <!-- Purposely Empty -->
  </div>
  <script src="config.js"></script>
  <script src="script.js" defer></script>
</body>
